@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Filled.Menu" Edge="Edge.Start" Color="Color.Inherit" OnClick="@ToggleDrawer" />
        <div class="mud-toolbar-gutters">
            <img src="SocialMarket.png" alt="SocialMarket Logo" class="logo" />
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="drawerOpen">
        <MudNavMenu>
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink Href="/manage-users" Icon="@Icons.Material.Filled.SupervisedUserCircle">Users</MudNavLink>
            <MudNavLink Href="/manage-comments" Icon="@Icons.Material.Filled.Comment">Comments</MudNavLink>
            <MudNavLink Href="/manage-baskets" Icon="@Icons.Material.Filled.ShoppingBasket">Baskets</MudNavLink>
            <MudNavLink Href="/manage-posts" Icon="@Icons.Material.Filled.PostAdd">Posts</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<style>
    /* Logo stilini özelleştirme */
    .logo {
        height: 60px; /* Logo boyutunu ayarlayabilirsiniz */
    }

    /* Seçili MudNavLink alt çizgisini kaldırma */
    .mud-nav-link.mud-ripple.mud-ripple-rounded.mud-nav-link-active {
        border: none !important;
        box-shadow: none !important; /* Eğer bir gölge varsa */
    }
</style>


@code {
    private bool drawerOpen = true;

    void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }
}
