<!--@using ClientProject.Shared

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">-->
@*<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <Authorizing>
            <RadzenText>
                Please Wait, We Are Authorizing the user
            </RadzenText>
        </Authorizing>
        <NotAuthorized>
            <RadzenText>
                You Are Not Authorized to access to this page
            </RadzenText>
        </NotAuthorized>
    </AuthorizeRouteView>*@

<!--<AuthorizeRouteView RouteData="@routeData"
                            DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (!routeData.PageType.Name.Equals("Register", StringComparison.OrdinalIgnoreCase))
                {
                    <RadzenText>
                        Please Wait, We Are Authorizing the user
                    </RadzenText>
                }
                else
                {
                    <p>You are not authorized to access this resource.</p>

                }
            </NotAuthorized>
        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>-->

@using ClientProject.Shared
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType.Name.Equals("Register", StringComparison.OrdinalIgnoreCase))
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        else
        {
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RadzenText>
                        Please Wait, We Are Authorizing the user
                    </RadzenText>
                </NotAuthorized>
            </AuthorizeRouteView>
        }

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

